.env
.streamlit/secrets.toml
ca-certificate.crt
.DS_Store
*/.DS_Store
.idea/
.vscode/
.history/
*/__pycache__/
*.pyc
*.log
data/
imgs/
logs/
temp_files/
arxiv_first_page/
notebooks/
eval_apps/
deprecated/
workflow_old/
repo_structure.yaml

PLANNING.md
CHANGES.md