aiofiles==0.6.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiolimiter==1.2.1
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anthropic==0.40.0
anyio==4.8.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.3
asttokens==3.0.0
async-lru==2.0.4
async-timeout==3.0.1
attrs==25.1.0
babel==2.16.0
beautifulsoup4==4.12.3
bertopic==0.17.0
bleach==6.2.0
blinker==1.9.0
boto3==1.35.90
botocore==1.35.90
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.0
cmd2==1.5.0
cobble==0.1.4
cohere==5.13.12
colorama==0.4.6
colorcet==3.0.1
colorspacious==1.1.2
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
dask==2024.12.1
dataclasses-json==0.6.7
datamapplot==0.5.0
datasets==3.2.0
datashader==0.16.3
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
docstring_parser==0.16
einops==0.6.1
et_xmlfile==2.0.0
executing==2.1.0
fastavro==1.10.0
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.17.0
filetype==1.2.0
fonttools==4.55.3
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.2.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.157.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
groq==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
h11==0.14.0
hdbscan==0.8.40
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.1
idna==3.10
imageio==2.36.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.0.0
instructor==1.4.1
ipykernel==6.29.5
ipython==8.31.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
langchain==0.2.1
langchain-anthropic==0.1.15
langchain-cohere==0.1.5
langchain-community==0.2.1
langchain-core==0.2.3
langchain-groq==0.1.4
langchain-openai==0.1.8
langchain-postgres==0.0.9
langchain-text-splitters==0.2.0
langchain-together==0.0.2.post1
langchainhub==0.1.13
langsmith==0.1.147
lazy_loader==0.4
litellm==1.61.20
llvmlite==0.41.1
locket==1.0.0
lxml==5.3.0
mammoth==1.9.0
markdown-it-py==3.0.0
markdown2==2.5.2
markdownify==0.13.1
marker-pdf==1.2.3
MarkupSafe==3.0.2
marshmallow==3.23.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.0
mpmath==1.3.0
multidict==6.1.0
multipledispatch==1.0.0
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.27.1
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.8.1
notebook==7.3.2
notebook_shim==0.2.4
numba==0.58.1
numpy==1.24.4
open-clip-torch==2.20.0
openai==1.65.2
opencv-python==4.10.0.84
openpyxl==3.1.5
orjson==3.10.13
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.1
param==2.2.0
parso==0.8.4
partd==1.4.2
pathvalidate==3.2.3
pdf2image==1.17.0
pdfminer.six==20240706
pdftext==0.4.1
pexpect==4.9.0
pgvector==0.2.5
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==3.20.3
psutil==6.1.1
psycopg==3.2.3
psycopg-pool==3.2.4
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyct==0.5.0
pydantic==2.9.1
pydantic-settings==2.7.1
pydantic_core==2.23.3
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pylabeladjust==0.1.13
PyMuPDF==1.22.5
pynndescent==0.5.11
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
Pyqtree==1.0.0
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.2.1
python-pptx==1.0.2
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.6.1
QtPy==2.4.2
RapidFuzz==3.11.0
rcssmin==1.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rjsmin==1.2.3
rpds-py==0.23.1
rsa==4.9
ruamel.yaml==0.17.17
s3transfer==0.10.4
safetensors==0.4.5
scikit-image==0.25.0
scikit-learn==1.3.2
scipy==1.14.1
seaborn==0.13.2
selenium==4.16.0
Send2Trash==1.8.3
sentence-transformers==2.7.0
sentencepiece==0.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.13.0
SQLAlchemy==2.0.36
sseclient-py==1.8.0
stack-data==0.6.3
streamlit==1.42.2
streamlit-plotly-events==0.0.6
surya-ocr==0.8.3
sympy==1.13.1
tabled-pdf==0.2.0
tabulate==0.9.0
tenacity==8.5.0
terminado==0.18.1
texify==0.2.1
threadpoolctl==3.5.0
tifffile==2025.1.10
tiktoken==0.8.0
timm==1.0.12
tinycss2==1.4.0
together==0.2.11
tokencost==0.1.17
tokenizers==0.19.1
toml==0.10.2
toolz==1.0.0
torch==2.4.0
torchdiffeq==0.2.5
torchsde==0.2.6
torchvision==0.19.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.42.4
trio==0.28.0
trio-websocket==0.11.1
typer==0.9.4
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.7
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
voyageai==0.3.2
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wsproto==1.2.0
xarray==2024.7.0
XlsxWriter==3.2.0
xxhash==3.5.0
yarl==1.18.3
youtube-transcript-api==0.6.3
zipp==3.21.0
